body{
  background-color: grey;
}

.navbar li:hover{

  background-color: grey;

}
.navbar-left{
  line-height: 50px;
}
.container {
  width: 80%;
  margin: 10% auto auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.search{
  /*width: 15  % !important;*/
  float: right;
  margin-top:.5%;
}
.content {
  flex: 1;
  /*display: flex;*/
  width: 40%;
  /*margin-right: 2%;*/
  /*justify-content: space-around;*/
}
.content_profile {
  flex: 1;
  /*display: flex;*/
  width: 40%;
  /*margin-right: 2%;*/
  /*justify-content: space-around;*/
}

td small{
  background-color: white;
}
.first_a {
  color: inherit !important;
  text-decoration: inherit !important;
}
/*index.php*/
.table_index{
  width: 33%;
  /*border: 1px solid black;*/
}
/*view.php*/
.table_view{
  width: 50%;
}
.view_img{
width: 100px;
height: 100px;
margin-left: 5%;
}
.post_img{
width: 50px;
height: 50px;
margin-left: 5%;
}
.login{
  margin-right: 5px !important;
}
.content_admin{
  flex: 1;
}
.content_posts{
  flex: 1;
  /*margin-left: 10%;*/
}
.users{
margin-bottom: 5%;
}
.ask{
  margin-right: 4%;
}
.questions{
  background-color: white;
  height: 100%;
  text-align: center;
}


.pagination{
  margin: 2% 0 2% 50%;
}
.pagin{
  color: white !important;
  margin:0 2%;
}

footer{
  height: 50px;
  background-color: black;
  margin: 0;
  color: white;
  text-align: center;
  width: 126%;
  margin-left: -13%;
}
