body{
  background-color: grey;
}

.naav li:hover{

  background-color: grey;

}
.container {
  width: 80%;
  margin: 10% auto auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
footer{
  height: 50px;
  background-color: black;
  margin: 0;
  color: white;
  text-align: center;
  width: 126%;
  margin-left: -13%;
}
td small{
  background-color: white;
}
.first_a {
  color: inherit;
  text-decoration: inherit;
}
/*index.php*/
.table_index{
  width: 33%;
  border: 1px solid black;
}
/*view.php*/
.table_view{
  width: 70%;
}
.view_img{
width: 100px;
height: 100px;
margin-left: 5%;
}
.post_img{
width: 50px;
height: 50px;
margin-left: 5%;
}
